.navigation {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 0px 0px 4px 4px;
}

.navigation__item {
  font-weight: 700;
  font-size: x-large;
  color: #f41919;
  text-decoration: none;
  margin-right: 30px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__item:hover,
.navigation__item:focus {
  color: white;
}
